In [4]:
import pandas as pd
import numpy as np

In [15]:
_input = pd.read_csv('input.txt', delimiter=',')

In [16]:
_input

,R1008,U428,L339,U16,R910,U221,R53,D546,L805,U376,...,U489,L246,D153,L384,D684,L243.1,U65,L342,U662,R707
0,L1008,D243,L602,D497,L395,U81,R589,U94,R640,D965,...,D455,L937,D180,R215,D684,R724,U561,R479,D353,L501